<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tassadar.nadacquest" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.tassadar.nadacquest.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tassadar.nadacquest.GuessActivity" />
        <activity android:name="com.tassadar.nadacquest.StatsActivity" />
        <activity android:name="com.tassadar.nadacquest.SearchActivity" />
    </application>

</manifest>
